<!DOCTYPE html>
<html>
<head>
<title>FASCIA</title>

<link href="/css/stylesheet.css" rel="stylesheet" type="text/css">

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    const socket = io();
    function getCSV(){
    socket.emit("Download", "download");

    socket.on('DownloadResponse', function (data) {
        var data_json = data.result;

        function jsonConcat(o1, o2) {
           for (var key in o2) {
            o1[key] = o2[key];
            }
           return o1;
        }

    final = [];
    for (let i = 0; i < data_json.length; i++)
      for (let j = 0; j < data_json[i].EEG_FPZ_CZ.length; j++)
      {
          // console.log(i);
        output = {}
        output = jsonConcat(output, data_json[i].EEG_FPZ_CZ[j]);
        output = jsonConcat(output, data_json[i].EEG_PZ_OZ[j]);
        output = jsonConcat(output, data_json[i].EOG[j]);
        output = jsonConcat(output, data_json[i].EMG[j]);
        output = jsonConcat(output, data_json[i].Resp_Oro_Nasal[j]);
        output = jsonConcat(output, data_json[i].Temp[j]);

        final.push(output);
      }


      var json = final
      // console.log(json)
      var fields = Object.keys(json[0])
      var replacer = function(key, value) { return value === null ? '' : value }
      var csv = json.map(function(row){
        return fields.map(function(fieldName){
          return JSON.stringify(row[fieldName], replacer)
        }).join(',')
      })
        csv.unshift(fields.join(',')) // add header column
        csv = csv.join('\r\n');
        // console.log(csv)

        var contentType = 'text/csv';
        var data_download = new Blob([csv], {type: contentType});
        var url = window.URL.createObjectURL(data_download);
        document.getElementById('download_link').href = url;
    });
}



let myVar, saliency = true, spindle = true, slowWave = true, offset = 600;

function getNext(){
    offset++ ;
    socket.emit("Change", {offset:offset});
}
function getPrev(){
    offset-- ;
    socket.emit("Change", {offset:offset});
}
function getNextForButton(){
    clearInterval(myVar);
    getNext();
    myVar = setInterval(getNext, 30000);
}
function getPrevForButton(){
    clearInterval(myVar);
    getPrev();
    myVar = setInterval(getNext, 30000);
}
function pause(){
    clearInterval(myVar);
}
function play(){
    myVar = setInterval(getNext, 30000);
}
function go() {
    clearInterval(myVar);
    offset = Number(document.querySelector("#getdataposition input").value);
    socket.emit("Change", {offset:offset});
    myVar = setInterval(getNext, 30000);
}
function current() {
    clearInterval(myVar);
    socket.emit("Change", {offset:offset});
    myVar = setInterval(getNext, 30000);
}

$(document).ready(function(){
        // getNext();
        myVar = setInterval(getNext, 90000);
        $("#play").click(function () {
            play();
            $("#info").html('<p>Response will change every 30s. Press Pause to stop.</p>')
        }) ; 
        $("#pause").click(function () {
            pause();
            $("#info").html('<p>Response paused. Press Play to proceed.</p>')
        }) ; 
        $("#prev").click(function () {
            getPrevForButton();
            $("#info").html('<p>Response will change every 30s. Press Pause to stop.</p>')
        }) ; 
        $("#next").click(function () {
            getNextForButton();
            $("#info").html('<p>Response will change every 30s. Press Pause to stop.</p>')
        }) ; 
        $("#go").click(function () {
            go();
        }); 
        $("#saliency").click(function () {
            console.log(this,"clicked");
            if ($(this).is(":checked")) {
                saliency = true ;
            } else {
                saliency = false ;
            }
            current();
        });
        $("#slowwave").click(function () {
            console.log(this,"clicked");
            if ($(this).is(":checked")) {
                slowWave = true ; 
            } else {
                slowWave = false ;
            }
            current();
        });
        $("#spindle").click(function () {
            console.log(this,"clicked");
            if ($(this).is(":checked")) {
                spindle = true ;
            } else {
                spindle = false ;
            }
            current(); 
        });
});

// $(document).ready(function(){
//         $("#page").hide() ; 
//         setTimeout(() => {
//             $("#page").show() ; 
//             $("#waitpage").hide() ; 
//             myVar = setInterval(getNext, 30000);
//         }, 120000);
// });



$(document).ready(function(){
    $("button").click(function(){
        $("a")[0].click();
    });
});

$(document).ready(function(){
    $("#PSD").change(function(){
        $(this).find("option:selected").each(function(){
            var optionValue = $(this).attr("value");
            if(optionValue){
                $(".psdbox").not("." + optionValue).hide();
                $("." + optionValue).show();
                socket.emit("Updated", "data");
            } else{
                $(".psdbox").hide();
            }
        });
    }).change();
});

$(document).ready(function(){
    $("#FFT").change(function(){
        $(this).find("option:selected").each(function(){
            var optionValue = $(this).attr("value");
            if(optionValue){
                $(".fftbox").not("." + optionValue).hide();
                $("." + optionValue).show();
                socket.emit("Updated", "data");
            } else{
                $(".fftbox").hide();
            }
        });
    }).change();
});
</script>

</head>
<body>

<!--<div class="header">-->
<!--  <h1>FASCIA</h1>-->
<!--</div>-->
<!-- <h1 id="waitpage"> Wait for 2 mins ....</h1> -->
<div id="page">
<div class="topnav">
  <a href="#">Welcome <%= username %>!</a>
  <a href='/index_all'>Separate Signals</a>
<!--  <a href="#">User</a>-->
</div>
<!-- Adding next and prev button -->

<div id="getdata"> 
    <button id="pause" class="button" >Pause</button>
    <button id="play" class="button" >Play</button>
    <button id="prev" class="button" >Prev</button>
    <button id="next" class="button" >Next</button>
    <p id="info">Response will change every 30s. Press Pause to stop.</p>
</div>
<div id="getdataposition"> 
    <input type="number" step="1" min="601" max="1000" />
    <button id="go" class="button"  >Go!</button>
</div>
<div id="checkboxes"> 
    <label for="saliency">Saliency</label>
    <input type="checkbox" id="saliency" name="saliency"
         checked>
    
    <label for="slowwave">Slow Waves</label>
    <input type="checkbox" id="slowwave" name="slowwave"
         checked>
    
    <label for="spindle">Spindles</label>
    <input type="checkbox" id="spindle" name="spindle"
         checked>
    
</div>
<div class="row">
  <div class="leftcolumn">

    <div class="card">
      <h2>Sleep Stage</h2>
      <div id="chart"></div>
    </div>

<!--      <div class = "card">-->
          <div class = "cardsignal">
<!--              <h2>EEG-FPZ-CZ</h2>-->
              <div>
                <div id="EEG-FPZ-CZ"> </div>
              </div>
          </div>

          <div class = "cardsignal">

<!--              <h2>EEG-PZ-OZ</h2>-->
              <div>
                <div id="EEG-PZ-OZ"> </div>
              </div>
          </div>

          <div class = "cardsignal">
<!--          <h2>EOG</h2>-->
              <div>
                <div id="EOG"> </div>
              </div>
          </div>

          <div class = "cardsignal">
<!--          <h2>EMG</h2>-->
              <div>
                <div id="EMG"> </div>
              </div>
          </div>

          <div class = "cardsignal">
<!--          <h2>Resp-Oro-Nasal</h2>-->
              <div>
                <div id="Resp-Oro-Nasal"> </div>
              </div>
          </div>

          <div class = "cardsignal">
<!--          <h2>Temp</h2>-->
              <div>
                <div id="Temp"> </div>
              </div>
          </div>
<!--      </div>-->

<!--      <div class = "card">-->
<!--          <h1>Saliency Maps in EEG-FPZ-CZ</h1>-->
<!--              <div>-->
<!--                <div id="EEG-FPZ-CZ-Grad"> </div>-->
<!--              </div>-->

<!--          <div class = "card">-->
<!--          <h1>Saliency Maps in EEG-PZ-OZ</h1>-->
<!--              <div>-->
<!--                <div id="EEG-PZ-OZ-Grad"> </div>-->
<!--              </div>-->
<!--          </div>-->

<!--          <div class = "card">-->
<!--          <h1>Saliency Maps in EOG</h1>-->
<!--              <div>-->
<!--                <div id="EOG-Grad"> </div>-->
<!--              </div>-->
<!--          </div>-->

<!--          <div class = "card">-->
<!--          <h1>Saliency Maps in Resp-Oro-Nasal</h1>-->
<!--              <div>-->
<!--                <div id="Resp-Oro-Nasal-Grad"> </div>-->
<!--              </div>-->
<!--          </div>-->

<!--          <div class = "card">-->
<!--          <h1>Saliency Maps in EMG</h1>-->
<!--              <div>-->
<!--                <div id="EMG-Grad"> </div>-->
<!--              </div>-->
<!--          </div>-->

<!--          <div class = "card">-->
<!--          <h1>Saliency Maps in Temp</h1>-->
<!--              <div>-->
<!--                <div id="Temp-Grad"> </div>-->
<!--              </div>-->
<!--          </div>-->
<!--      </div>-->

      <div class="card">
          <h1>Spectrogram</h1>
          <img id="spectrogram" alt="Spectrogram" style="width: 1170px">
      </div>

      <div class="card">
          <h1>Click on the button below to download the data logged so far</h1>
          <a id="download_link" onclick="getCSV()" download="Exported_data.csv" href=””> Download as CSV </a>
      </div>
  </div>

  <div class="rightcolumn">
      <div class="card">
          <h1>Sleep Stage Probabilities of time: <p id="time"> </p> </h1>
          <div id="SleepProb"></div>
      </div>
    <div class="card">

        <div class = "card">
        <h1> Select PSD to Display in the space below </h1>
            <select id="PSD">
                <option>Choose PSD to Display</option>
                <option value="EEG-FPZ-CZ-PSD">EEG-FPZ-CZ PSD</option>
                <option value="EEG-PZ-OZ-PSD">EEG-PZ-OZ PSD</option>
            </select>
        </div>

      <div class="EEG-FPZ-CZ-PSD psdbox">
          <div class = "card">
              <div>
                <div id="EEG-FPZ-CZ-PSD"> </div>
              </div>
          </div>
      </div>
      <div class="EEG-PZ-OZ-PSD psdbox">
          <div class = "card">
              <div>
                <div id="EEG-PZ-OZ-PSD"> </div>
              </div>
          </div>
      </div>

        <div class = "card">
        <h1> Select FFT to Display in the space below </h1>
            <select id="FFT">
                <option>Choose FFT to Display</option>
                <option value="EEG-FPZ-CZ-FFT">EEG-FPZ-CZ FFT</option>
                <option value="EEG-PZ-OZ-FFT">EEG-PZ-OZ FFT</option>
            </select>
        </div>

      <div class="EEG-FPZ-CZ-FFT fftbox">
          <div class = "card">
              <div>
                <div id="EEG-FPZ-CZ-FFT"> </div>
              </div>
          </div>
      </div>
      <div class="EEG-PZ-OZ-FFT fftbox">
          <div class = "card">
              <div>
                <div id="EEG-PZ-OZ-FFT"> </div>
              </div>
          </div>
      </div>

    </div>

    <div class="card">
      <h2>Experiment</h2>
      <p>Space for the researcher to make comments</p>

      <form action="/action_page.php">
      <label for="Experiment_Number">Experiment Number:</label><br>
      <input type="text" id="Experiment_Number" name="Experiment_Number"><br><br>
      <label for="extra_comments">Extra Comments</label><br>
      <textarea name="message" rows="10"></textarea> <br><br>
      <input type="submit" value="Submit">
      </form>
    </div>

    <div class="card">
      <h3>Researcher experiment comments</h3>
      <p>Preliminary study on correlation between body temperature and quality of sleep</p>
    </div>
  </div>
</div>
</div>
<!--<script src="sleepstagefc.js"></script>-->
<script src="sleepstage.js"></script>
<script src="sleepprob.js"></script>
<script src="signals.js"></script>
<script src="psd.js"></script>
<script>
    var clientWidth = 1200;
    var clientHeight = 100;
    sleepstage();
    socket.on('SleepStage', function (fulldata) {
        redraw_psd(fulldata.psd_fpzcz, 'EEG-FPZ-CZ');
        redraw_psd(fulldata.psd_pzoz, 'EEG-PZ-OZ');

        let ms = 1000 * 60 * 0.5; // convert minutes to ms
        let now = new Date();
        now = Math.round(now.getTime() / ms) * ms;
        console.log("now", now);
        console.log("nowtime", new Date(now));
        redraw_sleepprob(fulldata.sleepprob, now);
        redraw_eeg(fulldata.eeg_fpzcz, 'EEG-FPZ-CZ', clientWidth, clientHeight, slowWave, spindle, saliency, now);
        redraw_eeg(fulldata.eeg_pzoz, 'EEG-PZ-OZ', clientWidth, clientHeight, slowWave, spindle, saliency, now);
        
        // redraw_grad(fulldata.eeg_fpzcz_grad,'EEG-FPZ-CZ', clientWidth, clientHeight, saliency);
        // redraw_grad(fulldata.eeg_pzoz_grad,'EEG-PZ-OZ', clientWidth, clientHeight, saliency);
        // redraw_grad(fulldata.eog_grad, 'EOG', clientWidth, clientHeight, saliency);
        // redraw_grad(fulldata.resp_grad,'Resp-Oro-Nasal',  clientWidth, clientHeight, saliency);
        // redraw_grad(fulldata.emg_grad, 'EMG', clientWidth, clientHeight, saliency);
        // redraw_grad(fulldata.temp_grad, 'Temp', clientWidth, clientHeight, saliency);
        
        redraw_signal(fulldata.eog, 'EOG', clientWidth, clientHeight, now);
        redraw_signal(fulldata.emg, 'EMG', clientWidth, clientHeight, now);
        redraw_signal(fulldata.resp, 'Resp-Oro-Nasal', clientWidth, clientHeight, now);
        redraw_signal(fulldata.temp, 'Temp', clientWidth, clientHeight, now);
        redraw_fft(fulldata.fft_fpzcz, 'EEG-FPZ-CZ');
        redraw_fft(fulldata.fft_pzoz, 'EEG-PZ-OZ');
        d = new Date();

        $("#spectrogram").attr("src", "eeg_fpzcz_specgram.png?"+d.getTime());
    });
    
</script>
</body>
</html>
