<!DOCTYPE html>
<html>
<head>
    <title> FASCIA Register</title>

<link rel="stylesheet"
href=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
integrity=
"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="css/stylesheet.css">

</head>
<body>

    <br>
    <br>
    <br>
    <div class="container" >
        <div class="row">
        <div class="col-md-3">

        </div>

        <div class="col-md-6 main">

            <form action="/register" method="POST">

            <h1> FASCIA Login</h1>

            <input class="box" type="text" name="username"
            placeholder="Username" ><br>

            <input class="box" type="password" name="password"
            placeholder="Password "><br>

            <input type="submit" id="submitDetails"
            name="submitDetails" value="Submit" /><br>

            <input class="button button4" type="button"
            onclick="location.href='/';"
            value="Go Back" />

            </form>

        </div>

        <div class="col-md-3">
        </div>

    </div>
    </div>
</body>
</html>